.video__content-title {
max-width: 800px;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 78px;
text-align: center;
color: #FFFFFF;
text-align: center;
margin: 102px 0 48px 0;
}

@media screen and (max-width: 768px) {
  .video__content-title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 375px) {
  .video__content-title {
    font-size: 32px;
    line-height: 35px;
  }
}
