
.intro {
  padding: 92px 0 0 148px;
  margin: 0;
  max-width: 690px;
  display: flex;
  flex-direction: column;
   color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
.intro {
    padding: 92px 0 0 48px;

}
}

@media screen and (max-width: 768px) {
.intro {
    max-width: 720px;
    padding: 88px 24px 0 24px;

   }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 62px 16px 64px 16px;
  }
}

@media screen and (max-width: 320px) {
.intro {
    max-width: 288px;
    padding: 62px 16px 0 16px;
    
}
}
