.cover {
  padding-top: 92px;
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: 90px;
    width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding-top: 66px;
    min-height: 200px;
  }
}
