
.place {
  max-width: 984px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 0 80px 0;
  padding: 0;
}

.place:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place{
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
  }
 }

 @media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}


@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
    margin: 0 auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
 }


@media screen and (max-width: 320px) {
  .place:last-of-type {
    max-width: 320px;
    margin: auto;
  }
 }
